body {
  background-image: url("../images/dimigo-back.png");
  font-family: "나눔고딕";
}

.content-wrapper {
  margin-top: 60px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: white;
}

#nav-main {
  text-align: center;
  list-style-type: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #e3e3e3;
  width: 60px;
}

#nav-main li {
  border-top: 1px solid white;
  display:block;
  -webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	-ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

#nav-main li:first-child {
  border-top: none;
}
