hr {
    color: #cccccc;
    background-color: #cccccc;
    height: 1px;
}

.main_box {
	border: 1px solid #b5b7ba;
	box-sizing: border-box;
    margin-top: 5px;
}

.info_box {
	width: 215px;
	height: 200px;
	text-align: center;
	float: left;
    background: #f3f3f3;
}

.info_box .profile_image{
    width: 114px;
    height: 114px;
    border-radius: 57px;
    -webkit-border-radius: 57px;
    -moz-border-radius: 57px;
    border: 1px solid #f0f0f0;
}

.info_box .profile_info {
	font-size: 18px;
    margin-top: 7px;
}

.info_box .profile_menu {
    margin-top: 1px;
	font-size: 14px;
}

.note_cnt {
    color: #33cc00;
    font-weight: bold;
    text-decoration: none;
}

.banner_box {
	margin-top:-15px;
	width: 930px;
	height: 200px;
	border: 0;
}

.banner_box2 {
	margin-top:0px;
	width: 100%;
	height: 200px;
	border: 0;
}

.banner_box:after, .meal_box:after, .meal_box2:after, .intranet_box:after {
	clear: both;
}

.weather_box {
	width: 375px;
	height: 150px;
	float: left;
}

.weather_today, .weather_tomorrow {
    margin-top: 8px;
	margin-left: 8px;
	font-size: 18px;
	font-weight: bold;
    text-align: center;
}

.weather_title{
	margin-top:12px;
    font-weight: bold;
    font-size: 16px;
	text-align:center;
    padding-bottom: 10px;
}
.weather_icon{
    float: left;
}
.weather_info {
	text-align:center;
    float: left; margin-left: 10px;
}

.weather_info span.date {
	font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
}

.weather_per {
	float:none;
}

.weather_info span {
    display: block; font-size: 16px;
    margin-bottom: 4px;
}

.weather_info span.status {
	color:#AAA;
	font-size:13px;
	text-align:left;
}

.weather_info span.temp {
	color:#AAA;
	font-size:13px;
	text-align:left;
}

.weather_info span.rain {
	color:#AAA;
	font-size:13px;
	text-align:left;
}

.weather_info span.date2 {
	margin-top:-6px;
	color:#777;
	font-size:13px;
	text-align:center;
}

.weather_info span.per {
	margin-top:-6px;
	font-size:35px;
	color:#0066ff;
	font-weight:bold;
	text-align:center;
	margin-top: 5px;
}

.centers {
	float:none;
}

.weather_info span.text {
	margin-top:-6px;
	color:#777;
	font-size:13px;
	text-align:center;
    display: inline-block;
}

.weather_info span.date {
    font-weight: bold; color: #000;
}
.weather_divider{
   float: left;
    width:1px;
    height: 117px;
    background: #c5c5c5;
    margin-top: -8px;
	margin-left: 12px;
}

/* mobile */
.weather_box2 {
	width: 100%;
	height: 130px;
	float: left;
}

.weather_today2, .weather_tomorrow2 {
    margin-top: 8px;
	margin-left: 8px;
	font-size: 16px;
	font-weight: bold;
    text-align: center;
}

.weather_title2{
	margin-top:12px;
    font-weight: bold;
    font-size: 14px;
	text-align:center;
    padding-bottom: 10px;
}
.weather_icon2{
    float: left;
}
.weather_info2 {
	width:28%;
	text-align:center;
    float: left; margin-left: 10px;
}

.weather_info2 span.date {
	font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
}

.weather_per2 {
	float:none;
}

.weather_info2 span {
    display: block; font-size: 16px;
    margin-bottom: 0px;
}

.weather_info2 span.status {
	color:#AAA;
	font-size:11px;
	text-align:left;
}

.weather_info2 span.temp {
	color:#AAA;
	font-size:11px;
	text-align:left;
}

.weather_info2 span.rain {
	color:#AAA;
	font-size:11px;
	text-align:left;
}

.weather_info2 span.date2 {
	margin-top:-6px;
	color:#777;
	font-size:11px;
	text-align:center;
}

.weather_info2 span.per {
	font-size:30px;
	color:#0066ff;
	font-weight:bold;
	text-align:center;
	margin-top: 5px;
}

.centers {
	float:none;
}

.weather_info2 span.text {
	margin-top:-6px;
	color:#777;
	font-size:11px;
	text-align:center;
    display: inline-block;
}

.weather_info2 span.date {
    font-weight: bold; color: #000;
}
.weather_divider2{
   float: left;
    width:1px;
    height: 97px;
    background: #c5c5c5;
    margin-top: -8px;
	margin-left: 12px;
}
/* ---- */

.meal_box {
	width: 550px;
	height: 150px;
	float: left;
	font-size: 16px;
    margin-left: 5px;
}

.meal_box2 {
	width: 100%;
	float: left;
	font-size: 16px;
}

.meal_content {
    box-sizing: border-box;
}

.meal_info {
	text-indent: 10px;
    height: 30px;
    box-sizing: border-box;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow:hidden;
    padding-top: 5px;
    border-bottom: 1px solid #fc6767;
}

.meal_info2 {
	display:inline-block;
    box-sizing: border-box;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow:hidden;
    padding-top: 5px;
	padding-bottom: 5px;
    border-bottom: 1px solid #fc6767;
}

.meal_info2.snack{
    border-bottom: 0;
}


/*
.meal_data {
    width: 500px;
    text-overflow: ellipsis;
    overflow:hidden;
}*/

.meal_data2 {
}

.meal_info.snack{
    border-bottom: 0;
}

.meal_time {
	color: #137dea;
    font-weight: bold;
}

.article_box {
    width: 555px;
    height: 180px;
    float: left;
	margin-right:-5px;
}

.article_box2 {
    width: 100%;
    height: 180px;
    float: left;
	margin-right:-5px;
}

.intranet_box {
    border: 0 !important;
    width: 375px;
    height: 180px;
    float: left;
    margin-left: 5px;
}

.intranet_box img {
    float: right;
    width: 90px;
    height: 180px;
    box-sizing: border-box;
    border: 0px solid #b5b7ba;
    margin-left: 3px;
}

.title_box {
    position: relative;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #f3f3f3;
	font-size: 16px;
	font-weight: bold;
	text-indent: 15px;
    border-bottom: 1px solid #b5b7ba;
}

.btn_more {
	float: right;
	padding-right: 10px;
	font-size: 14px;
	color: #666 !important;
}

.article_box.margin {
	margin-right: 15px;
}

.article_list {
	margin-top: 10px;
}

.article_list > dt.title{
	float: left; padding-left: 0; margin-left: 11px; clear:both; font-weight: normal; margin-bottom: 5px;
}
.article_list > dd.date{
    float: right; padding: 0; margin: 0 11px 0 0; color: #989898; font-weight: normal;
}

.margin_box {
	width: 100%;
	height: 15px;
	clear: both;
}

.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }
