@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

/* 페이지가 화면에 꽉 차도록 높이를 조정합니다. */

html, body {
    height: 100%;
}

/*
 * 반투명한 배경 이미지를 추가합니다.
 * 이미지 파일은 디미고 공홈에서 가져옵니다.
 */

body {
    font-family: 'Noto Sans KR', sans-serif !important;

    background-image: url("../images/dimigo-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* 페이지 최대 너비를 설정합니다. */

main {
    max-width: 1644px;
}

/* 페이지 헤더 스타일을 설정합니다. */

#header {
    background-color: #fff;

    padding-top: 16px;
    padding-bottom: 16px;

    margin-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

/* 디미고 로고 우측에 여백을 넣습니다. */

#header .dimigoin-logo img {
    margin-right: 10px;
}

#header nav a {
    color: #555;
    font-size: 13px;
    font-weight: bold;
}

/* 헤더 그리트 스타일을 설정합니다. */

#header .main {
  font-size: 14px;
  font-weight: bold;
}

#header .sub {
  font-size: 12px;
}

#header .time {
  font-size: 14px;
  color: #ec5789;
}

/* 패널 커스텀 스타일을 설정합니다. */

.panel {
    width: 350px;

    border: 1px solid #ddd;
    border-radius: 5px;

    padding: 8px 16px;
    box-shadow: none;
}

.panel > .title {
    display: flex;
    margin-bottom: 10px;

    font-size: 40px;
    line-height: 56px;
    font-family: 'Ubuntu', sans-serif !important;
}

.panel > .title .main {
    font-weight: bold;
}

.panel > .title .sub {
    font-weight: lighter;
}

/* 한줄 광고의 스타일을 설정합니다. */

.line-ads {
  display: flex;

  position: absolute;
  top: 30px;
  left: 8%;

  vertical-align: middle;

  background-color: #fff;

  margin-left: 60px;

  width: 1040px;
  height: 60px;

  border: 1px solid #ddd;
  border-radius: 10px;

  padding: 8px 16px;
  padding-left: 0px;
  box-shadow: none;
}

.ads {
  display:flex;

  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  font-size: 24px;
  font-weight: bold;
}

/* 메인 보드 스타일을 설정합니다. */

.board-panel {
    display: flex;
    vertical-align: middle;

    background-color: #fff;

    margin-left: 60px;

    max-width: 1170px;
    height: 770px;

    border: 1px solid #ddd;
    border-radius: 10px;

    padding: 8px 16px;
    padding-left: 0px;
    box-shadow: none;
}

#board {
  display: flex;
}

#board .board-menu-nav {
  margin-top: 60px;
}

#board .board-menu {
  vertical-align: middle;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  font-size: 20px;
  color: #fff;

  background-color: #e3e3e3;
}

#board .board-menu tr td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #fff;

  padding: 0px;

  width: 56px;
}

.board-menu a {
  font-weight: bold;
  display: block;
  color: #fff;
  padding: 16px 10px 16px 10px;
}

.board-menu a:hover {
  color: #858585;
  display: block;

  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

.board-menu a:active {
  color: #333;
  display : block;

  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

/* 서비스 메뉴에 대한 세부 스타일을 설정합니다. */

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active, .open>.dropdown-toggle.btn-default {
  background-color: #f190b1;
  color: #fff;
}

.open>.dropdown-toggle.btn-default:hover {
  color: #fff;
  background-color: #f290b1;
}

.btn {
  font-size: 20px;
  color: #fff;
}

.dropdown a {
  background-color: transparent;
  width: inherit;

  border:0px;
  border-radius: 0px;
}

.dropdown-menu {
  border-radius: 0px;
  border: 0px;
  padding : 0px;

  top: 0px;
  left: 60px;
}

.dropdown-menu > li {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.dropdown-menu > li:nth-child(4) {
  border-bottom: 0px;
}

.dropdown-menu > li > a {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #858585;
}

.dropdown-menu .divider {
  height: 5px;
  margin: 0px;
  overflow: hidden;
  background-color: #f7bcd0;
}

/* 계정 창 메뉴 스타일을 설정합니다. */

#profile {
  padding: 0px;
}

#profile .title {
  background-color: #f3f4f3;
  margin-bottom: 0px;
  border-bottom: 1px solid #ddd;
}

#profile .profile-menu {
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  background-color: #f3f4f3;
}

#profile .profile-menu li {
  display: inline-block;
  text-align: center;

  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-left: 0px;

  margin: 0px;
  width: 56px;
}

#profile .profile-menu li a {
  color: #858585;
}

#profile .profile-menu li a:hover {
  color: #858585;
  display :inline-block;
  padding-left: 0px;
  width: 56px;
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

#profile .profile-menu li.selected {
  background-color: #fff;
  border-bottom: 0px;
}

#profile .img-circle {
    height: 46px;

    margin: 10px 10px 10px 16px;
}

#profile .main {
  position: relative;;
  top: -5px;
  font-size: 15px;
  margin: 0px;
}

#profile .sub a {
  position: relative;
  top: -14px;
  margin-left: 3px;

  font-size: 11px;
  color: #999;
  text-decoration: underline;
}

#profile .under-content a {
  position: relative;
  top: 5px;
  left: -60px;

  font-size: 10px;
  color: #333;
  font-weight: bold;
}

/* 메뉴 아이콘 크기를 바꿉니다. */

.glyphicon {
  font-size: 18px;
  vertical-align: middle;
}

.material-icons {
  font-size: 18px;
  vertical-align: middle;
}

/* 서비스의 세부적인 스타일 설정입니다 */

.profile-content {
  margin-top: 0px;
  height: 200px;

  color: #858585;
}

.profile-content ul {
  list-style-position: inside;
  padding: 0px;
}

.profile-content ul li {
  padding: 16px 10px 16px 16px;
  border-bottom: 1px solid #ddd;
  width: 348px;
}

/* 로그아웃 버든에 관한 설정입니다. */

#profile .title button {
  position: relative;
  left: 100px;
  top: 14px;

  padding: 0px;
  line-height: 10px;

  width: 60px;
  height: 20px;
  font-size: 12px;
  background-color: #BDBDBD;
  color: #fff;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
}

/* 공지 패널 스타일을 설정합니다 */

#announce {
    font-size: 13px;
    line-height: 15px;
}

#announce .img-circle {
    height: 46px;
    margin-right: 10px;
}

#announce table {
    width: 100%;
}

#announce .title, .date {
    margin-top: 4px;
}

#announce .title {
    float: left;
}

#announce .date {
    float: right;
}

#announce .content, .date {
    color: #aaa;
    font-size: 11px;
}

/* 급식 정보를 설정합니다. */

#meals {
    padding: 10px 24px 24px 16px;
    background-color: #fdfdfc;
}

#meals table {
    background-color: #fff;
    padding: 100px;
    width: 100%;
}

#meals table tr {
    border-left: 3px solid #FBE4EB;
    border-right: 1px solid #ddd;
}

#meals .ontime {
    border-left: 3px solid #FF4789;
    border-right: 1px solid #ddd;
}

#meals table tr td {
    line-height: 12px;
    font-size: 13px;

    padding: 4px 8px;
    border-top: 1px solid #ddd;
}

#meals table tr td:last-of-type {
    border-bottom: 1px solid #ddd;
}

#meals .time {
  position: absolute;
  left: 33px;
  top: 457px;
  font-size: 12px;
  font-weight: bold;
  color: #CECECE;
}
